[Desktop Entry]
Type=Application
Name=Anvil
Comment=View specs and stress test hardware
Exec=anvil
Icon=io.github.sugarycandybar.Anvil
Terminal=false
Categories=System;Monitor;Utility
Keywords=hardware;specs;stress;test;cpu;temperature;benchmark;gpu;ram;
StartupNotify=true
